################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DSA/FileContentIndex/9d01b188-dcdd-4bec-90a7-68ba61dc4b73.vsidx
/.vs/DSA/FileContentIndex
